
/*****************************************************************************
 * URL's
 ***/

$urlStatic: '/';

/*****************************************************************************
 * Text
 ***/

/* Font family */
$fontFamily: 'Open Sans', sans-serif;

/* Font weights and styles */
$fontWeightNormal: 300;
$fontWeightBold: 400;
$fontWeightExtraBold: 600;
$fontStyleNormal: normal;
$fontStyleItalic: italic;

/* Font sizes */
$fontSizeNormal: 1rem;
$fontSizeSmall: .9rem;
$fontSizeSmaller: .8rem;
$fontSizeLarge: 1.5rem;

/* Line height */
$lineHeight: 1.5rem;

/* Vertical margins */
$marginParagraph: $lineHeight;
$marginSection: 2rem;

/*****************************************************************************
 * Colors
 ***/

/* Grayscale */
$colorWhite: #fff;
$colorBlack: #000;

/* Primary colors */
$colorMeanie: #d70040;
$colorPrimary: $colorMeanie;

/* Text colors */
$colorText: #222;
$colorTextMuted: #a5a5a5;
$colorTextLink: $colorPrimary;

/* Border colors */
$colorBorders: #e2e2e2;
