<section>
	<h1>{{APP_TITLE}}</h1>
	<p>It's {{$ctrl.now | moment:'DD-MM-YYYY'}} and your Meanie application is up and running! Happy developing :)</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rutrum sapien vitae ante tristique tempus. Cras eros orci, auctor sed sodales a, gravida non lacus. Etiam dapibus ipsum vitae venenatis porttitor. Aliquam erat volutpat. Nunc ex arcu, fermentum et magna quis, venenatis hendrerit risus. Maecenas sodales lorem nulla, eget mattis orci facilisis sit amet. Pellentesque lacinia nulla at tincidunt pellentesque. Pellentesque ac fermentum libero. Nam malesuada, justo in dapibus vulputate, augue leo semper arcu, in porttitor nisi libero quis enim.</p>

	<p>Donec a tellus tincidunt, pulvinar dolor quis, lacinia nibh. Mauris laoreet faucibus vulputate. In et nisi sed neque elementum consequat id ut quam. Ut malesuada molestie massa ut auctor. Quisque pretium porttitor massa vel dapibus. Nam sed tincidunt purus, ac consectetur sem. Vestibulum feugiat mauris nec erat molestie hendrerit.</p>

	<p>Praesent semper justo ex, a tristique risus porta ac. Aliquam erat volutpat. Pellentesque tincidunt laoreet eros et pulvinar. Curabitur sit amet magna id massa maximus suscipit. Pellentesque laoreet leo maximus, fermentum dui et, faucibus lectus. Curabitur vitae dolor tellus. Morbi egestas ligula ex, vitae dignissim urna pharetra ac. Nulla viverra ligula ut massa ultricies, non efficitur purus fermentum. Phasellus eget diam convallis, facilisis orci vitae, ullamcorper libero.</p>

	<p>Nulla vitae ante sagittis, pellentesque quam vel, aliquet sapien. Vivamus venenatis in metus quis blandit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam scelerisque luctus mauris vel rhoncus. Integer hendrerit felis pulvinar elementum ultrices. Suspendisse ac magna molestie, tempor velit rutrum, ornare nisi. Etiam commodo enim eu vestibulum feugiat. Ut eu quam et felis hendrerit aliquam.</p>
</section>
