
//Grayscale
$colorWhite: #fff;
$colorBlack: #000;

//Primary colors
$colorMeanie: #d70040;
$colorPrimary: $colorMeanie;

//Text colors
$colorText: #222;
$colorTextMuted: #a5a5a5;
$colorTextLink: $colorPrimary;

//Border colors
$colorBorders: #e2e2e2;
