
//Font family
$fontFamily: 'Open Sans', sans-serif;

//Font weights and styles
$fontWeightNormal: 300;
$fontWeightBold: 600;
$fontStyleNormal: normal;
$fontStyleItalic: italic;

//Font sizes
$fontSizeNormal: 1rem;
$fontSizeSmall: .8rem;
$fontSizeLarge: 1.25rem;

//Line height
$lineHeight: 1.5rem;
