
/**
 * HTML 5 normalization
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, a, blockquote, pre, abbr, address, em, img, small, strong,
sub, sup, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, figure, footer, header, main, menu, nav, section, time,
mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
article, aside, details, figcaption, figure, footer, header, menu,
nav, section {
	display: block;
}
[tabindex="-1"]:focus {
  outline: none;
}
