
/**
 * Header and footer
 */
@import 'header/header';
@import 'footer/footer';

/**
 * App wrapper
 */
.app-wrapper {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	min-height: 100%;
}

/**
 * App contents
 */
.app-contents {
	padding: $spacingLarge 0;
	flex: 1;
}
